<h1>About us</h1>
<hr>
<h4>eDakia - ई-डाकिया </h4>
<br>
<p>Today in this Digital world with Mobile, Voice Call, SMS, Internet, 3G and E-Mail, still it's really hard to send or share hard copy or Rich text documents with anyone who is not on Internet or not having an E-Mail ID. We ourself look out for a Cyber-Cafe or FAX for the aided help and end up paying whopping price even for a single page according to our market research.</p>
<br>
<h4>Problem </h4>
<br>
<p>Reality is only 7% population of India is on Internet and hence 93% don't even have an Email-ID. We can not deny the fact that E-Mail is the best application ever built and it's the primary reason we are connected to this digital world. On the other side, paper is used for everything e.g. bills, reports, forms, invoices, proofs, agreements, photos etc and this 93% of population either use Post, Courier service for passive transfer and FAX, cyber cafe for instant transfer. <br><br>Fax has it's own limitations including huge hardware cost, data loss issues and primarily need both sender and receiver on the machine at the very moment. Some applications help to send fax to email but FAX penetration is 8 times lower than Pakistan and is obsolete in Indian aspect.</p>
<br>
<h4>Vision </h4>
<br>
<p>Our vision is to provide a simple, instant and easy-to-use interface to help every individual send and receive documents irrespective of computer, Internet knowledge. We are leveraging mobile number as the identity on our <strong>DIGIT ONLY</strong> based system.</p>

<p>
  We have built a low cost hardware using off-the-shelf products which includes a Canon all-in-one printer-scanner, any Android Tablet and 3G Internet Stick. Our Software beautifully integrates with them and with just 2 clicks people can send documents by entering sender and recipients mobile number. <br>
  <br>Our system keep the documents safe forever and generates a Doc ID for each shared document. SMS acknowledges about document transfer and shares Doc ID between Sender and Receiver. They can now download it at their convenience on Mobile, Laptop, Cyber Cafe by visiting <%= link_to "http://www.edakia.in/receive", "http://www.edakia.in/receive", :target => "_blank"%> and entering just their mobile number and Doc ID.
</p>
<p>People acknowledged it as Document Saving Store like Banks are used for Money saving</p>

<p>Also, a person having mobile number can now send E-Mail to anyone in this world with this powerful system. One can write a letter on a piece of paper and just send it to an email without having english and typing proficiency as every mobile user internally have an E-Mail ID and document(s) are emailed using their E-Mail ID e.g. {9811xxxxxx}@edakia.in</p>

<h3>It's about empowering Indians that you can now E-Mail to anyone in this world</h3>


<br>
<br>
<h1>Team</h1>
<hr>
<h4>Akshay Gupta (Engineer)</h4>
<br>
<address>
  Owns product architecture, design and development. <br>
  Spends 90% time coding, thinking and tracking newest technology trends.<br>
  Worked with two hi-tech startups for 4 years.<br>
  B.Tech. (Computer Science) from Jamia Millia Islamia University, New Delhi<br>
  Email: <a href="mailto:akshay@edakia.in">akshay@edakia.in</a><br>
</address>


<h4>Shikha Jain (MBA)</h4>
<br>
<address>
  Owns product definition, positioning and marketing.<br>
  Spends 90% time talking to customers, market visits and reading business reports.<br>
  Worked with two leading MNCs for 4 years.<br>
  MBA (Sales & Marketing) from Indian Institute of Foreign Trade, New Delhi<br>
  Email: <a href="mailto:shikha@edakia.in">shikha@edakia.in</a><br>
</address>

<h4>Amit Sharma (Engineer)</h4>
<br>
<address>
  Owns Android development and expert in converting business idea to logic.<br>
  He loves to make system work smoother and better with precise details.<br>
  Worked with TCS, India and clients like Apple Inc. <br>
  B.Tech. (Computer Science) from Jamia Millia Islamia University, New Delhi.<br>
  Email: <a href="mailto:amit@edakia.in">amit@edakia.in</a><br>
</address>
<br>
<br>