<h1>About us</h1>
<hr>

<p>Our vision is to provide a simple, instant and easy-to-use DIY interface to help every individual send and receive documents without having personal computer, internet, english knowledge and email ID. We are leveraging mobile number as the identity on this DIGIT ONLY based system</p>

<p>
  We have built a low cost hardware prototype using off-the-shelf products. Our software helps anyone having a mobile number to send, receive and save documents. Our recent pilot brought a great insight and feedback from target customers. 
</p>