<h1>FAQ</h1>
<hr>
<p>Ques - <strong>What is eDakia?</strong></p>
<p>Ans  - <em>eDakia is a medium to send, share, store documents (hard copy or soft copy) instantly using mobile numbers.</em></p>
<br>
<p>Ques - <strong>Is it a hardware or software?</strong></p>
<p>Ans  - <em>For hard copy: It's a combination of both hardware and software. <br>For Soft copy: It's purely a software based application.</em></p>
<br>
<p>Ques - <strong>What are the types of documents one can share?</strong></p>
<p>Ans  - <em>Hard Copy: Any documents e.g. ID proofs, reports, bills, invoices, photos, cards, forms etc. <br>Soft Copy: Images (jpg, jpeg, gif, png), documents (pdf, doc, docx, xls, ppt, txt).</em></p>
<br>
<p>Ques - <strong>How does it work?</strong></p>
<p>Ans  - <em>1. Hard copy: The hardware scans the document to digital file using Canon-all-in-one-printer-scanner (wi-fi models). This digitized copy can now be shared between people using mobile numbers.<br>
  2. Soft Copy: It can directly be shared from our web application after logging at <%= link_to "http://www.edakia.in", "http://www.edakia.in" %><br><br>
  An SMS is sent to both sender's and receiver's mobile phone with a unique Doc ID of the post. <br> Now receiver and even the sender can access this document anytime, anywhere on mobile, laptop or any internet location by visiting <%= link_to "http://www.edakia.in/receive", "http://www.edakia.in/receive" %> and entering their mobile number and the Doc ID received on SMS.</em></p>

<br>  
<p>Ques - <strong>Does the recipient also need to be registered?</strong></p>
<p>Ans  - <em>No. Post can be accessed without registration by entering mobile number and Doc ID received in the SMS.</em></p>



<br>  
<p>Ques - <strong>Is it a Fax?</strong></p>
<p>Ans  - <em>It resembles to a FAX but has significant differentiating factors.</em>
    <table class="table table-bordered" style="width:50%">  
        <thead>
          <th>Fax</th>
          <th>eDakia</th>
        </thead>
        <tbody>
          <tr>
            <td>Fax Machine Number</td>
            <td>Mobile Number</td>
          </tr>
          <tr>
            <td>Telephone network (PSTN)</td>
            <td>Internet and Mobile network (wireless)</td>
          </tr>
          <tr>
            <td>Document never saved</td>
            <td>Store and send</td>
          </tr>
          <tr>
            <td>Multiple recipients not possible</td>
            <td>Shared between multiple people</td>
          </tr>
          <tr>
            <td>Possible on FAX machine only</td>
            <td>Anytime anywhere</td>
          </tr>
          <tr>
            <td>Huge hardware cost</td>
            <td>Half the hardware cost <br> Multiple utility device</td>
          </tr>
          <tr>
            <td>E-Mail not possible</td>
            <td>E-Mail anywhere in the world</td>
          </tr>
      </tbody>
    </table>
</p>

<br>  
<p>Ques - <strong>Can I send multiple papers?</strong></p>
<p>Ans  - <em>Yes. Our software automatically creates a single pdf file of all the papers.</em></p>

<br>  
<p>Ques - <strong>Can I send E-mail?</strong></p>
<p>Ans  - <em>Yes. Once registered we create an E-Mail ID for your mobile number e.g. 981111xxxx@edakia.in and when you send an E-Mail it will be received from your mobile number based E-Mail ID.</em></p>

<br>  
<p>Ques - <strong>Receiver: When some one send a document on my mobile number, can I receive it directly in my inbox?</strong></p>
<p>Ans  - <em>Yes. In that case you need to register and update your E-Mail ID in your account details. Now next time when someone sends a post, you will receive an SMS and mail directly in your inbox.</em></p>

<br>  
<p>Ques - <strong>Can I send any document on FAX?</strong></p>
<p>Ans  - <em>Yes. We are currently working on it and soon your documents will be directly transmitted to a fax number provided by you.</em></p>

<br>  
<p>Ques - <strong>How safe is it to post with eDakia?</strong></p>
<p>Ans  - <em>We use cloud storage technology. It's the most secure environment and we transmits all data over HTTPS. Everything is automated with no human intervention. Also, we will never share any user property or data with any person or company. It's our constant endeavor to keep users data safe in secure environment.</em></p>

<br>  
<p>Ques - <strong>How much is the hardware cost if I wish to setup eDakia Kendra?</strong></p>
<p>Ans  - <em>Hardware comprises of off-the-shelf products i.e. Canon all-in-one-printer-scanner (wi-fi model), Excellent Android Tablet, Internet 3G dongle, small 3G wi-fi router and a numeric keypad for number input and will currently costs around 12K INR. </em></p>


<br>  
<p>Ques - <strong>I have a printer and scanner and also own a Tablet?</strong></p>
<p>Ans  - <em>Great. But currently we support Canon wifi model only. If you already own a Android Tablet, we charge nothing for our software.</em></p>

<br>  
<p>Ques - <strong>How does eDakia make money?</strong></p>
<p>Ans  - <em>For online users: it's absolutely free of cost with a limit of 10 posts per week <br>
  For Retailer Model: It's a prepaid model and we charge very nominal fee per transaction.</em></p>

<br>  
<p>Ques - <strong>Are there any other services associated along with eDakia services?</strong></p>
<p>Ans  - <em>We are currently working on different services to make it super simple and that can enable more business for retailers e.g. Fax, Consumer complaints, Resume Building, Job Applications etc.</em></p>

<br>  
<p>Ques - <strong>I'm  a retailer and how can I enable eDakia services?</strong></p>
<p>Ans  - <em>Please <%= link_to "contact us", "/contact_us" %> and we will help you setup and enable in couple of hours.</em></p>

