<div class="well">
  <h2>Email for Everyone</h2>
  <br>
  <h4>NO POST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO COMPUTER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO INTERNET&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO ENGLISH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO EMAIL ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO COMPLEX FILESYSTEM</h4>
  <br>
  <h4>Only Mobile Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Document (hard or soft) Required</h4>
</div>
<br>
<div id="homeCarousel" class="carousel slide well">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag("home.png", :width => "800" , :height => "600") %>
      <div class="carousel-caption">
        <h4>eDakia</h4>
        <p>We believe everyone should be able to send and receive mails instantaneously using only Mobile Numbers. </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("openhouse.jpg" , :width => "800", :height => "600") %>
      <div class="carousel-caption">
        <h4>Open House @IITD</h4>
        <p>No Computer, No Email ID, No Internet, No English, No Post. Still send and receive Hard Copy Documents using eDakia amazed everyone</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>

<br>
<br>

<div class="">
  <blockquote><p>Very noble and social idea: <em>Piyush Gupta, Eko </em></p></blockquote>
  <blockquote><p>It's the Indian answer to Email: <em>Shardul Mohite, Webonise Lab</em></p></blockquote>
</div>
