
<br>
<div id="homeCarousel" class="carousel slide hidden-phone" >
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item" align="center">
      <%= image_tag("home.png") %>
    </div>
    <div class="item"  align="center">
      <%= image_tag("openhouse.png") %>
      <div class="carousel-caption">
        <h4>Open House @IITD - Prototype</h4>
        <p>Appreciation, motivation to take it further</p>
      </div>
    </div>
    <div class="item" align="center">
      <%= image_tag("launch.png") %>
      <div class="carousel-caption">
        <h4>Working at Retailer - Launch</h4>
        <p>No Computer, No Email ID, No English. Send and receive Hard Copy Documents using eDakia amazed everyone</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>

<br>

<br>

<h1>Bringing email to every citizen. </h1>
<br>
<h3>Now write, send and receive mails instantly without the knowledge of computers.</h3>
<br>
<br>
  <div style="background-color:#fff;">
    <div class="right">
      <%= image_tag("mascot_medium.jpg")%>
    </div>
    <h3>ना घर का पता, ना कंप्यूटर, ना इन्टरनेट | आपका मोबाइल आपका E-Mail. </h3>
    <br>
    <div>
      <h2> अब मोबाइल नंबर से मोबाइल नंबर पे तुरंत डाक भेजे |</h2>
      <br>
      
      <br>
      <h2>Simple . Instant .  Language Independent</h2>
    </div>
    <div class="clear"></div>  
  </div>
  <br>
  <br>
  <p><small>All your documents will be safe in our <strong>SECURE CLOUD FOREVER.</strong></small></p>
  <p class="lead">FREE Registration. Call <strong>011-30715555</strong> and Press 1 from your Mobile </p>
<br>
<br>
<div class="well right">
  <blockquote><p>It's the Indian answer to Email</p> <small><em>Shardul Mohite, Webonise Lab</em></small></blockquote>
  <blockquote><p>It will empower everyone to send and receive email</p></blockquote>
  <blockquote><p>Only numbers based system is convincing </p></blockquote>
</div>
