<br>
<div>
  
  <div class="well" style="background-color:#fff;">
    <h2>ना घर का पता, ना कंप्यूटर, ना इन्टरनेट | आपका मोबाइल आपका E-Mail. </h2>
    <br>
    <div class="right">
      <%= image_tag("mascot_medium.jpg")%>
    </div>
    <div class="">
      <h2> अब मोबाइल नंबर से मोबाइल नंबर पे तुरंत डाक भेजे |</h2>
      <br>
      <br>
      <p><small>All your documents will be safe in our <strong>SECURE CLOUD FOREVER.</strong></small></p>
      <br>
      <br>
      <h3>To Register Call <span class="lead">011-3110xxxx </span> and Press 1 from your Mobile </h3>
      <br>
      <br>
      <h2>Simple . Instant .  Language Independent</h2>
    </div>
    <div class="clear"></div>  
  </div>
  
</div>
<br>
<br>
<div id="homeCarousel" class="carousel slide well hidden-phone" style="background-color:#fff;">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag("home.png", :width => "800" , :height => "600") %>
      <div class="carousel-caption">
        <h4>eDakia</h4>
        <p>We believe everyone should be able to send and receive mails instantaneously using only Mobile Numbers. </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("openhouse.jpg" , :width => "800", :height => "600") %>
      <div class="carousel-caption">
        <h4>Open House @IITD</h4>
        <p>No Computer, No Email ID, No Internet, No English, No Post. Still send and receive Hard Copy Documents using eDakia amazed everyone</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>

<br>


<div class="less right">
  <blockquote><p>It's the Indian answer to Email</p> <small><em>Shardul Mohite, Webonise Lab</em></small></blockquote>
  <blockquote><p>It will empower everyone to send and receive email</p></blockquote>
  <blockquote><p>Only numbers based system is convincing </p></blockquote>
</div>
