<h1>Product</h1>
<hr>
<p>eDakia product is much more than a application that run on top of any Android based mobile or tablet. It beautifully integrates with wireless Canon all-in-one-printer-scanner models. <em>It empowers any individual to send and receive posts just based on Mobile Numbers.</em></p>
<br>
<p><strong> ➠</strong> The whole system is <strong>Number based</strong> which makes it super easy to use by any literate or non-literate person.</p>
<br>
<p><strong> ➠</strong> Anyone can directly E-Mail their letters, application, forms, requests, documents <strong>without english typing, computer proficiency and file attachment hassles.</strong></p>
<br>
<p><strong> ➠</strong> Besides sending and receiving posts, eDakia acts like a <strong>Document Store</strong> for saving a copy of important documents like ID proofs, pan card, reports, agreements etc with an ease to access them anytime in case of urgency.</p>
<br>
<p><strong> ➠</strong> Internally, it also creates a mobile number based E-Mail ID for registered users e.g. 981111xxxx@edakia.in. It helps user to receive <strong>email along with an SMS notification</strong> from anyone in the world.</p>
<br>
<br>


<h2>Reach</h2>
<hr>
<p><strong> ➠</strong> We are enabling <strong>eDakia kendra or mini-cyber-café</strong> at the hyper-local level to provide eDakia services in your vicinity.</p>
<br>
<p><strong> ➠</strong> We are also integrating with existing cyber-café to provide eDakia services at nominal cost.</p>
<br>
<p><strong> ➠</strong> We have absolute plans to go Pan-India level for maximum benefits and empowerment of every citizen.</p>
<br>
<p><strong> ➠</strong> We also plan to partner with enterprises, organizations, schools to help them communicate with their employees, vendors, parents etc.</p>
<br>
<br>

<h2>How it works?</h2>
<hr>
<h3>Send</h3>
<br>
<p><strong>Internet users: </strong> One can absolutely send files to non-internet users with the ease of sitting on your system.</p>
<p>Kindly follow the simple steps:</p>
<p><strong> ➠</strong> Registration: Call <strong>011-30715555</strong> from your mobile phone and press 1 when prompted.</p>
<p><strong> ➠</strong> Login at http://www.edakia.in with password provided to you by an SMS after successful registration.</p>
<p><strong> ➠</strong> Click Send Post, enter recipient's mobile number and attach your file and click send.</p>
<p><strong> ➠</strong> You and Recipient will receive an SMS with Doc ID.
<br>
<br>
<p><strong>Non-Internet Users: </strong></p>
<p><strong> ➠</strong> Visit eDakia kendra with your hard copy documents.</p>
<p><strong> ➠</strong> Tell your and recipient's mobile number and keep the papers in the scanner.</p>
<p><strong> ➠</strong> With 2 clicks a copy of your document(s) is securely saved and shared by an SMS acknowledgement.</p> 
<br>
<br>

<h3>Receive</h3>
<br>
<p><strong> ➠</strong> One can access absolutely from mobile (with Internet), Laptop, Desktop, eDakia Kendra, Cyber Café</p>
<p><strong> ➠</strong> Open <%= link_to "http://www.edakia.in/receive", "http://www.edakia.in/receive" %></p>
<p><strong> ➠</strong> Enter your mobile number and Doc ID received over SMS</p>
<p><strong> ➠</strong> View, download or print the documents </p>
<br>
<br>

<h3>Account</h3>
<br>
<p>Any registered user can view all the documents saved, send or received with their Doc ID by just logging in to <%= link_to "http://www.edakia.in/users/login", "http://www.edakia.in/users/login" %> 
