<h1>Team</h1>
<hr>
<h4>Akshay Gupta (Engineer)</h4>
<br>
<address>
  Owns product architecture, design and development. <br>
  Spends 90% time coding, thinking and tracking newest technology trends.<br>
  Worked with two hi-tech startups for 4 years.<br>
  B.Tech. (Computer Science) from Jamia Millia Islamia University, New Delhi<br>
  Email: <a href="mailto:akshay@edakia.in">akshay@edakia.in</a><br>
</address>


<h4>Shikha Jain (MBA)</h4>
<br>
<address>
  Owns product definition, positioning and marketing.<br>
  Spends 90% time talking to customers, market visits and reading business reports.<br>
  Worked with two leading MNCs for 4 years.<br>
  MBA (Sales & Marketing) from Indian Institute of Foreign Trade, New Delhi<br>
  Email: <a href="mailto:shikha@edakia.in">shikha@edakia.in</a><br>
</address>

<h4>Amit Sharma (Engineer)</h4>
<br>
<address>
  Owns Android development and expert in converting business idea to logic.<br>
  He loves to make system work smoother and better with precise details.<br>
  Worked with TCS, India and clients like Apple Inc. <br>
  B.Tech. (Computer Science) from Jamia Millia Islamia University, New Delhi.<br>
  Email: <a href="mailto:amit@edakia.in">amit@edakia.in</a><br>
</address>